[Unit]
Description=filebeat
Documentation=https://www.elastic.co/guide/en/beats/filebeat/current/index.html
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/filebeat/filebeat-linux-arm -c /opt/filebeat/filebeat.yml
Restart=always

[Install]
WantedBy=multi-user.target